$color-detail-background: #f5f5f5;
$color-header-index: #f5f5f5;
$color-navigation: #ffffff;

$color-text: #101828;
$color-primary: #0039b5;
$color-second: #558afc;
$color-text-login: #235886;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;300;400;500;600;700;800;900&display=swap");

html,
body {
  background: #fffcf5;
  margin: 0px;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  // transform-origin: top left;
  // transform: scale(0.8);
}

.index-templete,
.example-templete,
.login-index,
.loading,
.swal2-container {
  // height: 125vh;
  // width: 125vw;
  width: 100vw;
  height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: "Noto Sans Thai", sans-serif !important;
}

.pointer {
  cursor: pointer;
}

.none-pointer {
  cursor: default !important;
}

.none-a {
  text-decoration: none;
}

.hyper-link {
  text-decoration: underline !important;
  text-decoration-color: #0000ee !important;
  color: #0000ee !important;
}

.expand-enter-active,
.expand-leave-active {
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  height: 0;
}

.navigation-ham-enter-active,
.navigation-ham-leave-active {
  transition: width 1s ease-in-out;
  overflow: hidden;
}

.navigation-ham-enter,
.navigation-ham-leave-to {
  width: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.message-error {
  color: #ff0000;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 10px;
}

.required {
  color: red;
}

button:disabled {
  opacity: 0.7;
}

.table-standard {
  padding-top: 0;
  overflow: auto;
  margin-bottom: 1px;

  table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }

  table tbody tr:nth-child(even) {
    background-color: #f1f5fa;
  }

  table thead tr th:nth-last-child(1) {
    border-right: 0px;
  }

  table tbody tr td:nth-last-child(1) {
    border-right: 0px;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1px #c1cfe3;

    td,
    th {
      border-right: solid 1px #c1cfe3;
    }

    .thead {
      .thead-row {
        font-weight: bold;
        font-size: 16px;
        color: #333333;
        height: 61px;

        th {
          border-bottom: solid 1px #c1cfe3;
          padding: 0 10px;
          text-align: center !important;
        }
      }

      .col0 {
        min-width: 80px;
        width: 0% !important;
      }

      .col-coppy {
        min-width: 100px;
        max-width: 100px;
        width: 0%;
      }

      .col-control {
        min-width: 150px;
        max-width: 150px;
        width: 0%;
      }
    }

    .tbody {
      .color-tr {
        background-color: #f1f5fa;
      }

      .tbody-row {
        width: 100%;
        height: 60px;
        text-align: center;
        color: #333333;
        border-bottom: 0px;
        font-weight: 500;
        font-size: 16px;

        td {
          padding: 10px 10px;
        }

        .col-coppy {
          .icon-coppy {
            width: 30px;
            height: 30px;
            background-color: #f4f9fd;
            border-radius: 8px;
            padding: 5px;
          }
        }

        .hover-icon {
          position: relative;

          .name {
            white-space: nowrap;
            display: none;
            color: #101828;
            font-size: 16px;
            font-weight: 400;
            position: absolute;
            top: -65px;
            left: 50%;
            transform: translate(-50%, 50%);
            padding: 6px 12px;
            background-color: #ffffff;
            border-radius: 8px;
            border: 1px solid #eaecf0;
            box-shadow: 0 3px 10px 0 rgba(132, 147, 198, 0.1215686275);
            z-index: 3;
          }

          &:hover {
            .name {
              display: block;
            }
          }
        }

        .col-control {
          .group-icon {
            display: flex;
            justify-content: center;
          }

          .icon-edit,
          .icon-delete,
          .icon-view {
            width: 30px;
            height: 30px;
            background-color: #f4f9fd;
            border-radius: 8px;
            padding: 4px;
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.fix-head-tabel {
  overflow: hidden;
  display: block;
  margin-bottom: -4px;
  table {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.overflow-table {
  max-height: 450px;
  overflow: auto;
  align-items: start;
  border: 1px solid #c1cfe3;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  table {
    border: 0;
  }
}

.overflow-inherit {
  overflow: inherit !important;
}

.swal2-modal {
  width: 40em;

  :focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .swal2-icon {
    width: 88px;
    height: 88px;
    font-size: 18px;
  }

  .swal2-title {
    font-size: 26px;
  }

  .swal2-input-label {
    font-size: 18px;
    justify-content: flex-start;
    margin-left: 25px;
  }

  .swal2-html-container {
    font-size: 18px;
  }

  .swal2-cancel,
  .swal2-deny,
  .swal2-confirm {
    width: 100px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.0509803922);
  }

  .swal2-validation-message {
    font-size: 14px;
  }

  ::-webkit-input-placeholder {
    font-size: 16px;
    color: #98a2b3;
    opacity: 0.7;
    text-align: left;
    font-weight: 400;
    line-height: 24px;
  }

  :-ms-input-placeholder {
    font-size: 16px;
    color: #98a2b3;
    opacity: 0.7;
    text-align: left;
    font-weight: 400;
    line-height: 24px;
  }

  ::placeholder {
    font-size: 16px;
    color: #98a2b3;
    opacity: 0.7;
    text-align: left;
    font-weight: 400;
    line-height: 24px;
  }

  ::-webkit-input-placeholder {
    line-height: normal;
  }

  textarea {
    border-radius: 8px;
    border: 1px solid #e4e7ec;
    font-size: 16px;
    color: #101828;
    margin: 0.3em 1.5em 3px;
  }
}
